02. CLIENTE/03. CLIENTE WEB/WEB/src/wsdl/10.40.17.176_8080/Monster_Federacion_Futbol/WSTicket.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="WSTicket">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://10.40.17.176:8080/Monster_Federacion_Futbol/WSTicket?xsd=1"/>
</xsd:schema>
</types>
<message name="traerCliente">
<part name="parameters" element="tns:traerCliente"/>
</message>
<message name="traerClienteResponse">
<part name="parameters" element="tns:traerClienteResponse"/>
</message>
<message name="traerLocalidades">
<part name="parameters" element="tns:traerLocalidades"/>
</message>
<message name="traerLocalidadesResponse">
<part name="parameters" element="tns:traerLocalidadesResponse"/>
</message>
<message name="registroUsuario">
<part name="parameters" element="tns:registroUsuario"/>
</message>
<message name="traerPartidos">
<part name="parameters" element="tns:traerPartidos"/>
</message>
<message name="traerPartidosResponse">
<part name="parameters" element="tns:traerPartidosResponse"/>
</message>
<message name="traerReporte">
<part name="parameters" element="tns:traerReporte"/>
</message>
<message name="traerReporteResponse">
<part name="parameters" element="tns:traerReporteResponse"/>
</message>
<message name="comprobarUsuario">
<part name="parameters" element="tns:comprobarUsuario"/>
</message>
<message name="comprobarUsuarioResponse">
<part name="parameters" element="tns:comprobarUsuarioResponse"/>
</message>
<message name="registroCompra">
<part name="parameters" element="tns:registroCompra"/>
</message>
<portType name="WSTicket">
<operation name="traerCliente">
<input wsam:Action="http://ws.monster.edu.ec/WSTicket/traerClienteRequest" message="tns:traerCliente"/>
<output wsam:Action="http://ws.monster.edu.ec/WSTicket/traerClienteResponse" message="tns:traerClienteResponse"/>
</operation>
<operation name="traerLocalidades">
<input wsam:Action="http://ws.monster.edu.ec/WSTicket/traerLocalidadesRequest" message="tns:traerLocalidades"/>
<output wsam:Action="http://ws.monster.edu.ec/WSTicket/traerLocalidadesResponse" message="tns:traerLocalidadesResponse"/>
</operation>
<operation name="registroUsuario">
<input wsam:Action="http://ws.monster.edu.ec/WSTicket/registroUsuario" message="tns:registroUsuario"/>
</operation>
<operation name="traerPartidos">
<input wsam:Action="http://ws.monster.edu.ec/WSTicket/traerPartidosRequest" message="tns:traerPartidos"/>
<output wsam:Action="http://ws.monster.edu.ec/WSTicket/traerPartidosResponse" message="tns:traerPartidosResponse"/>
</operation>
<operation name="traerReporte">
<input wsam:Action="http://ws.monster.edu.ec/WSTicket/traerReporteRequest" message="tns:traerReporte"/>
<output wsam:Action="http://ws.monster.edu.ec/WSTicket/traerReporteResponse" message="tns:traerReporteResponse"/>
</operation>
<operation name="comprobarUsuario">
<input wsam:Action="http://ws.monster.edu.ec/WSTicket/comprobarUsuarioRequest" message="tns:comprobarUsuario"/>
<output wsam:Action="http://ws.monster.edu.ec/WSTicket/comprobarUsuarioResponse" message="tns:comprobarUsuarioResponse"/>
</operation>
<operation name="registroCompra">
<input wsam:Action="http://ws.monster.edu.ec/WSTicket/registroCompra" message="tns:registroCompra"/>
</operation>
</portType>
<binding name="WSTicketPortBinding" type="tns:WSTicket">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="traerCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerLocalidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registroUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="traerPartidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerReporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registroCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="WSTicket">
<port name="WSTicketPort" binding="tns:WSTicketPortBinding">
<soap:address location="http://10.40.17.176:8080/Monster_Federacion_Futbol/WSTicket"/>
</port>
</service>
</definitions>